<div class = "grid-container">
  <header class="header">
      <nav>
        <div class="nbc" >Tinfoil Vault</div>    
        <div class="d-flex justify-content-end" id="navbarSupportedContent"></div>
      </nav>
  </header>


  <aside class="sidenav">
    <div class="sidenav">
      <br>
      <br>
      <a href="./members">Notes</a>
      <a href="./contacts">Contacts</a>
      <a href="./logout">Logout</a>
    </div>
  </aside>

  <main>
    <div class="login-page">
      <div class="form" style="padding: 1%;">
        {{!-- <form class="login-form"> --}}
        <input class="form-control" id="title" type="text" placeholder="Title" style="padding: 1%;">        
        <textarea class="form-control" id="body" placeholder="Write something.." style="width: 98%;"></textarea>
        <br>
        <button type="submit" class="submit createbutton">Save</button>
      </div>
    </div>   
  </main>

  <footer class="footer"></footer>

</div>






    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="./assets/js/addNote.js"></script>