<div class = "grid-container">
  <header class="header">
      <nav >
        <div class="nbc" >Tin Foil Vault</div>    
        <div class="d-flex justify-content-end" id="navbarSupportedContent"></div>
      </nav>
  </header>

  <aside class="sidenav">
    <div class="sidenav">
      <br>
      <br>
      <a href="./addNote">Add Note</a>
      <a href="./contacts">Contacts</a>
      <a href="./logout">Logout</a>
    </div>
  </aside>

  <main>
    <div class="container-fluid">
      <div class="mainnote-title">
        <p style: "color: black;">Notes</p>
      </div>
      <hr>
      <div class="container-fluid" style: "width: 70%; border: solid;">
          {{#each notes}}
        <div style="padding-left: 40px; width: 80%;">
          <div class="note-title">{{"Notes.title"}}
            <div class="pageButtons">
            <button style="background-color: #907080; border-radius: 12px;"class="edit-button" type="submit" value={{"Notes.id"}}>Edit</button>
            <button style="background-color: #907080; border-radius: 12px;"class="delete-button" type="submit" value={{"Notes.id"}}>Delete</button></div>   
          </div>
          <p class="note-textarea" >{{"Notes.body"}}</p>
       </div> 
       <hr>{{/each}} 
      </div>  
    </div>
  </main>

  <footer class="footer"></footer>
</div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="./assets/js/members.js"></script>



