<div class="login-page">
  <div class="form">
    <form class="login-form">
      <input id="emailInput" type="text" placeholder="email address"/>
      <input id="passwordInput" type="password" placeholder="password"/>
      <button class="createbutton">create</button>
      <p class="message">Already registered? <a href="./login">Sign In</a></p>
    </form>

  </div>
</div>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="./assets/js/signup.js"></script>


