html, body {
  color: white;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

aside {
  border-right: 2px ridge;
}

header {
  border-bottom: 2px ridge;
}

a {
  text-decoration: none;
}

/* section for login form */

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #DBDFE3;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #8A9096;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #203A36;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #DBDFE3;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #8A9096;
}
.form .message {
  margin: 15px 0 0;
  color: black;
  font-size: 12px;
}
.form .message a {
  color: #2A3036;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #384048;
}
.container .info span {
  color: #384048;
  font-size: 12px;
}
.container .info span a {
  color: #203A36;
  text-decoration: none;
}
.container .info span .fa {
  color: #907080;
}
body {
  background: #2A3036;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}



.grid-container {
  
  grid-template-columns: 70px 1fr;
  display: grid;
  position: relative;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas: 'sidenav header' 'sidenav main' 'sidenav footer';
  height: 100vh;
} 

.header {
  background-color: #2A3036;
  grid-area: header

}

.container-fluid{
  padding-left: 3%;
  
}

.nbc {
  padding: 10px;
  text-align: center;
  font-size: 35px;
}

.sidenav {
  background-color: #2A3036;
  grid-area: sidenav;

}

main {
  background-color: #DBDFE3;
  grid-area: main;

}

.footer {
  background-color: #8A9096;
  grid-area: footer;
}  

/* sidenav */

/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 80px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #2A3036;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 10px;
  color: #907080;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #DBDFE3;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: green;
  color: #DBDFE3;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #2A3036;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}




.mainnote-title {
  color: black;
  padding-left: 4px;
}

.note-title{
  color: black;
  position: relative;
}

.pageButtons {
  position: absolute;
  right: 10px;
  top: 5px;
}

/* .edit-button {
  background-color: #907080;
} */

.note-textarea:read-only {
  color: #907080;
  padding-left: 8%;
} 





